---
layout: archive
---

{{ content }}

<div class="content">
    <section id="me">
        <p>
          I am a fifth-year Ph.D. candidate in Economics at HKU Business School, The University of Hong Kong, with research interests in international macroeconomics and finance. My current research features themes such as the Global Financial Cycle, the international transmission of monetary policy, and the dynamics of interest rates and exchange rates.
        </p>
        <p>
          I received my Bachelor's degree in Economics from Sun Yat-sen University, China, in 2020.
        </p>
        <p>
          <i class="fas fa-envelope"></i> yzhang20@connect.hku.hk
        </p>
        <p>
          <i class="fas fa-map-marker-alt"></i> Room 1120, K.K. Leung Building, The University of Hong Kong, Pokfulam, Hong Kong
        </p>
      </section>

      <section id="research">
        <h2>Research</h2>
        <ul>
            <li>
                Foreign Long-term Institutional Investors, Government Debt, and Global Financial Stability, with Jiayi Li. <br>
                <small>Summary: Government bonds owned more by long-term investors such as insurance companies and pensions are less sensitive to the Global Financial Cycle.
                <br> Presented at 2024 SASCA PhD Conference, 12th UECE Conference on Economic and Financial Adjustment, and HKU Econ PhD Brownbag. Draft coming soon.</small>
            </li>
            <li>
                Quantitative Easing and Exchange Rates: High-frequency Evidence from the United States, the Eurozone, the United Kingdom, and Japan. <br>
                <small>Summary: Quantitative easing news strongly depreciates currency values within days.
                <br> Presented at HKU Econ PhD Brownbag. Draft coming soon.</small>
            </li>
        </ul>
        <h3>Discussion</h3>
        <ul>
          <li>
            <small>Mortgage Refinancing and the Marginal Propensity to Consume (Pesce, Zhang, 2024, SASCA PhD Conference).</small>
          </li>
        </ul>
    </section>

<section id="teaching">
    <h2>Teaching Assistantship</h2>
    <ul>
        <li>
            <strong>Fall 2024</strong> PMBA2963 Managerial Economics.
        </li>
        <li>
          <strong>Spring 2023, 2024</strong> ECON6008 International Macroeconomics and Finance.
      </li>
    </ul>
</section>
</div>

{% include paginator.html %}